<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AniCare</title>
        <link rel="stylesheet" href="styles.css" type="text/css">
        
    </head>


    <body>
        <!--Navigation Section-->
        <header class="header-container">
            <div class="row">
                <h1 class="header-text">AniCare</h1>
                <div class="nav-container" id="topnav">
                   <a href="#Home" class="nav-element">Home</a>
                   <a href="#About" class="nav-element">About Us</a>
                   <a href="#Our Team" class="nav-element">Blog</a>
                   <a href="#Services" class="nav-element">Services</a>
                   <a href="#Contact" class="nav-element">Contact</a>
                <a href="/views/SignUp.html" class="nav-element">Create Account</a>
                </div>
            </div>
        </header>
        <main>
            <!--Contact Section-->
            <section class="contact-section">
                <div class="contact-header">
                    <h1>We Care about</h1>
                    <h2>your pets</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    <button class="contact-button">
                        <a href="#Contact" class="button-text">Contact Us</a>
                    </button>
                </div>
                <div class="contact-img">
                    <img src="puppy.png" alt="aboutpuppy">
                </div>
            </section>

            <!--Services Section-->
            <section class="services-section">
                <div class="services-header">
                    <h1>Services for Everyday Pets</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                </div>
                <div class="services-types">
                <div class="service-type1">
                    <img src="../assets/pet_icon_1.png" alt="peticon1" class="peticon-img">
                    <h1 class="service-text">Pet Vaccination</h1>
                    <p>Lorem ipsum dolor sit amet <br /> consectetur adipiscing elit<br /> sed do eiusmod tempor incididunt utt</p>
                </div>
                <div class="service-type2">
                    <img src="../assets/pet_icon_2.png" alt="peticon2" class="peticon-img">
                    <h1 class="service-text">Pet Vaccination</h1>
                    <p>Lorem ipsum dolor sit amet <br/> consectetur adipiscing elit<br /> sed do eiusmod tempor incididunt ut</p>
                </div>
                <div class="service-type3">
                    <img src="../assets/pet_icon_3.png" alt="peticon3" class="peticon-img">
                    <h1 class="service-text">Pet Vaccination</h1>
                    <p>Lorem ipsum dolor sit amet <br /> consectetur adipiscing elit<br /> sed do eiusmod tempor incididunt ut</p>
                </div>
                </div>
            </section>
        </main>

        <!--Footer-->
        <footer class="footer">
            <div class="footer-row">
                <div class="contact-footer">
                    <h1 class="contact-text">Contact Us</h1>
                    <h1 class="number">09067676767</h1>
                    <h2 class="email">xyz@email.com</h2>
                    <h3 class="address">a700,agege,New York, Nigeria</h3>
                </div>
                <div class="services-footer">
                    <h1 class="other-text">Other Services</h1>
                    <div class="services-links">
                        <li><a href="#" class="linked">Animal Vaccination</a></li>
                        <li><a href="#" class="linked">Animal Spa</a></li>
                        <li><a href="#" class="linked">Animal Adoption</a></li>
                        <li><a href="#" class="linked">Animal Insurance</a></li>
                        <li><a href="#" class="linked">Animal Training</a></li>
                    </div>
                </div>
                <div class="quick-links">
                        <h1 class="quick-text">Quick Links</h1>
                        <div class="links">
                            <li><a href="#" >AboutUs</a></li>
                            <li><a href="#" >Policy</a></li>
                            <li><a href="#" >Terms ofService</a></li>
                            <li><a href="#" >Login info</a></li>
                            <li><a href="#" >Knowledge Base</a></li>
                        </div>
                </div>
                <div class="socials">
                    <h1 class="social-text">AniCare</h1>
                    <div class="social-links">
                        <li><a><img src="../assets/facebook.svg"/></a></li>
                        <li><a><img src="../assets/twitter.svg"/></a></li>
                        <li><a><img src="../assets/instagram.svg"/></a></li>
                    </div>
                </div>
            </div> 
            </div>
        </footer>
    </body>
</html>